body{
  margin: 0;
  padding: 0;
}
.back{
  background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.318), rgba(0, 0, 0, 0.400)), url("/static/image/puppy-5388151_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Poppins', sans-serif !important;
  height: 100vh;
}


h1{
  color: black;
  padding-left: 30px;
  font-family: 'Indie Flower', cursive !important;
}



.char1{
  transform: rotate(-20deg);
  
  
}
.char1:hover{
  color:#5bc0de;

}
.char2{
  transform: rotate(-5deg);
 
 
}
.char2:hover{
  color:#5bc0de;

}
.char3{
  transform: rotate(3deg);
  
  
}
.char3:hover{
  color:#5bc0de;

}
.char4{
  transform: rotate(8deg);
 
}
.char4:hover{
  color:#5bc0de;

}
.char5{
  transform: rotate(17deg);
  
 
}
.char5:hover{
  color:#5bc0de;

}
.char6{
  transform: rotate(27deg);
  
  
}
.char6:hover{
  color:#5bc0de;

}
.char7{
  transform: rotate(43deg);
}
.char7:hover{
  color:#5bc0de;

}
.char8{
  transform: rotate(56deg);
 
  
}
.char8:hover{
  color:#5bc0de;

}
.char9{
  transform: rotate(61deg);
  
}
.char9:hover{
  color:#01607c;

}
.char10{
  transform: rotate(66deg);
  
  
}
.char10:hover{
  color: #01607c;

}
.char11{
  transform: rotate(75deg);
 
  
}
.char11:hover{
  color: #01607c;

}
.char12{
  transform: rotate(81deg);
 
  
}
.char12:hover{
  color: #ffffff;

}
.char13{
  transform: rotate(93deg);
 
  
}
.char13:hover{
  color:#ffffff;

}
.char14{
  transform: rotate(101deg);
  
}
.char14:hover{
  color:#ffffff;

}
.char15{
  transform: rotate(107deg);
  
 
  
  
}
.char15:hover{
  color:#ffffff;

}
.char16{
  transform: rotate(117deg);
  
 
  
}
.char16:hover{
  color:#ffffff;

}
.char17{
  transform: rotate(90deg);
  
  
  
}
.char17:hover{
  color:#ffffff;

}
.char18{
  transform: rotate(95deg);

  
  display: inline-block;
}
.char18:hover{
  color:#ffffff;

}
.char19{
  transform: rotate(100deg);
 

  
}
.char19:hover{
  color:#fafafa;

}
.char20{
  transform: rotate(105deg);
  
 
  
}
.char20:hover{
  color: #ffffff;

}

a.font{
  position: relative !important;
  color: #01607c;
}
.font{
  padding: 0 9px;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight:900;
}
.font:after{
  content: "";
  position: absolute;
  background-color:#5bc0de;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: all 0.5s ease;

}
.font:hover:after{
  width: 100%;
}
.font:hover{
  color: #ffffff;
}

h2{
  padding-top: 220px;
  padding-left: 30px;
  font-weight: 1000;
}
.description{
  padding-left: 30px;
  color:white;
  
  
}
.get{
  
  font-size: 20px;
 

}
button{
  background-color: #05475b;
  border-radius: 6px;
  color: white;
  
  width: 180px;
  height: 36px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-property: box-shadow, transform;
  -webkit-transition-property: box-shadow, transform;
  
}
button:hover, button:focus{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  
}
button:active{
  box-shadow:none;
  top: 8px;

}

@media (max-width: 575.98px) {
  h1{
    color: black;
    padding-left: 30px;
    font-family: 'Indie Flower', cursive !important;
  }
  .font:after{
    
    position: relative;
   
    transition: all 0.5s ease;
  
  }
  h2{
    color:white;
    font-size:22px;
  }
  .get{
    font-size: 15px;
  }
  button{
    width: 120px;
    height: 30px;
  }
  
 }

@media  (min-width: 576px) { 
  

 
  
}


@media (max-width: 767.98px) { 
  h2{
    color:white;
    font-size:25px;
    }
   .get{
    font-size: 17px;
    }
   button{
    width: 130px;
    height: 30px;
   }
   
  
  }
 


 
/*Large devices (desktops, 992px and up)*/
@media (max-width: 991.98px) { 
  
  .font:after{
    content: "";
    position: relative;
    
    
    transition: all 0.5s ease;
  }
  




 }

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
  
  h1{
    font-size: 50px;
    margin-top:-30px;
  }
  

 }

